---

const name = 'Óscar Rabadán';
const description =
  'Frontend developer with over 3 years of experience, I like to keep up to date with the latest industry trends and continuously improve my knowledge. Focused on creating responsive and high-performance web applications with great attention to detail.';
const goToWork = 'You can check some of my works here.';
const profilePicture = '/profile.jpg';
---

<section class='flex items-center justify-center gap-8 my-16'>

  <div class='h-24 w-24'>
    <img class='rounded-full' src={profilePicture} alt={name} />
  </div>
  <h1>I am {name}</h1>
</section>
<section
  class='bg-white lg:p-8 rounded-ss-3xl rounded-se-3xl rounded-e-lg rounded-s-lg'>
  <div>
    <p>
      {description}
    </p>
    <p>
      <a title='' href='/works'><strong>{goToWork}</strong></a>
    </p>
  </div>
</section>

<style>
  h1 {
    color: var(--text-color-bold);
    display: none;
  }
  p {
    color: var(--text-color-light);
    font-size: 1rem;
  }
  @media screen and (min-width: 992px) {
    h1 {
      display: block;
    }
  }
  h1 {
    color: white;
    font-size: 2.25rem;
    font-weight: 600;
    margin: 1rem 0;
  }
  @media (min-width: 480px) {
    h1 {
      font-size: 2.5rem;
    }
  }
  img {
    display: none;
  }
  @media screen and (min-width: 992px) {
    img {
      display: block;
    }
  }
  a {
    color: var(--text-color-bold);
    text-decoration: underline;
    font-weight: 300;
  }
</style>
