---
const name = 'Óscar Rabadán';
const description =
  'Frontend developer with over 3 years of experience, I like to keep up to date with the latest industry trends and continuously improve my knowledge. Focused on creating responsive and high-performance web applications with great attention to detail.';
const goToWork = 'You can check some of my works here.';
const profilePicture = '/profile.jpg';
---

<section>
  <div>
    <h1>I am {name},</h1>
    <p>
      {description}
    </p>
    <p>
      <a title='' href='/works'><strong>{goToWork}</strong></a>
    </p>
  </div>
  <div>
    <img src={profilePicture} alt={name} />
  </div>
</section>

<style>
  h1 {
    display: none;
  }
  section {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    /* height: 70dvh;
    min-height: 500px; */
  }
  section div:last-of-type {
    text-align: center;
    width: 100%;
  }
  @media screen and (min-width: 992px) {
    h1 {
      display: block;
    }
    section {
      border-radius: 5px;
      flex-wrap: nowrap;
      border: 1px solid var(--text-color);
      padding: 1rem;
    }
  }
  h1 {
    max-width: 375px;
    position: relative;
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  @media (min-width: 480px) {
    h1 {
      font-size: 2.5rem;
    }
  }
  @media screen and (min-width: 480px) {
    h1:after {
      background-color: rgb(151 159 206 / 40%);
      bottom: 5px;
      box-shadow: rgb(151 159 206) 0px 0px 8px;
      content: '';
      height: 15px;
      left: 8px;
      position: absolute;
      width: 100%;
      z-index: -1;
    }
  }
  img {
    display: none;
  }
  @media screen and (min-width: 992px) {
    img {
      border-radius: 4px;
      display: block;
    }
  }
  a {
    /* background-color: var(--primary-color); */
    font-size: 1.1rem;
    text-decoration: underline;
  }
</style>
