---
import "devicon/devicon.min.css";

import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import { SKILLS } from "@/consts/skills";

const firstCard = SKILLS.slice(0, 6);
const secondCard = SKILLS.slice(6, 15);
const thirdCard = SKILLS.slice(15, 20);
const fourthCard = SKILLS.slice(20, 27);
---

<section class='w-full lg:w-8/12 2xl:w-6/12 mx-auto px-4'>
  <!-- <h2>Toolkit</h2> -->
  <div class='grid grid-cols-1 lg:grid-cols-2 gap-4'>
    <div
      class='bg-transparent-white border border-gray-300 rounded-lg pt-3 pb-4 px-5'
    >
      <h2 class='font-medium text-xl'>{t("skills.languages")}</h2>
      <ul class='pt-4'>
        {
          firstCard.map(({ id, name }) => (
            <li>
              <i class={`devicon-${id}-plain colored`} />
              {name}
            </li>
          ))
        }
      </ul>
    </div>
    <div
      class='bg-transparent-white border border-gray-300 rounded-lg pt-3 pb-4 px-5'
    >
      <h2 class='font-medium text-xl'>{t("skills.frameworks")}</h2>
      <ul class='pt-4'>
        {
          secondCard.map(({ id, name }) => (
            <li>
              <i class={`devicon-${id}-plain colored`} />
              {name}
            </li>
          ))
        }
      </ul>
    </div>

    <div
      class='bg-transparent-white border border-gray-300 rounded-lg pt-3 pb-4 px-5'
    >
      <h2 class='font-medium text-xl'>{t("skills.clouds")}</h2>
      <ul class='pt-4'>
        {
          thirdCard.map(({ id, name }) => (
            <li>
              <i class={`devicon-${id}-plain colored`} />
              {name}
            </li>
          ))
        }
      </ul>
    </div>
    <div
      class='bg-transparent-white border border-gray-300 rounded-lg pt-3 pb-4 px-5'
    >
      <h2 class='font-medium text-xl'>{t("skills.tools")}</h2>
      <ul class='pt-4'>
        {
          fourthCard.map(({ id, name }) => (
            <li>
              <i
                class={`devicon-${id}-plain ${id === "notion" ? "" : "colored"}`}
              />
              {name}
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
    margin-block: 0;
  }

  li {
    background-color: rgb(255 255 255 / 85%);
    display: flex;
    align-items: center;
    color: var(--text-color-bold);
    font-size: 0.9rem;
    width: fit-content;
    padding: 6px 12px;
    border-radius: 6px;
  }
  i {
    font-size: 1.4rem;
    margin-right: 0.3rem;
  }
</style>
