---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import { techColors } from '@/consts/techColors';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);


const projects = [
    {
        id: 'tubookbuddy',
        title: 'tuBookBuddy.es',
        description:
            t("project.tubookbuddy.description"),
        image: '/tubookbuddy.webp',
        url: 'https://tubookbuddy.es',
        technologies: [
            'NextJS',
            'TypeScript',
            'TailwindCSS',
            'React Context API',
            'Firebase',
            'Firestore',
            'Firebase Authentication',
            'Google Books API',
        ],
    },
    {
        id: 'vilatijolo',
        title: 'Vilatijolo',
        description: 'Una breve descripción del proyecto 2.',
        image: '/vilatijolo.webp',
        url: 'https://vilatijolo.pt',
        technologies: ['Next.js', 'JavaScript', 'Styled Components'],
    },
] 
---

<section class='lg:container mx-auto py-16 lg:py-24 px-4' id='work'>
  <h2 class='text-2xl lg:text-4xl lg:text-center font-bold pb-8 lg:pb-16'>
    {t('nav.work')}
  </h2>
  <div class='grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-8'>
    {
      projects.map((project) => (
        <a class='block group' target='_blank' href={project.url}>
          <div class='bg-white rounded-2xl shadow-lg overflow-hidden transition-transform duration-300 hover:scale-105'>
            <div class='overflow-hidden'>
              <img
                src={project.image}
                alt={project.title}
                class='w-full h-48 object-cover transition-transform duration-500 group-hover:scale-110'
              />
            </div>
            <div class='p-6'>
              <h3 class='text-bold text-xl font-semibold mb-2'>
                {project.title}
              </h3>
              <p class='text-light mt-3 mb-6'>
                {project.description}</p>
              <div class='flex flex-wrap gap-2'>
                {project.technologies.map((tech) => (
                  <span
                    class={`px-3 py-1 rounded-full text-sm font-medium ${techColors[tech] || 'bg-gray-300 text-black'}`}>
                    {tech}
                  </span>
                ))}
              </div>
            </div>
          </div>
        </a>
      ))
    }
  </div>
</section>

<!-- <section id='work' class='my-16 lg:my-24 container mx-auto'>
  <h2 class='text-3xl text-center font-bold lg:pb-8'>{t('nav.work')}</h2>

  <div>
    <WorkProps
      image='/tubookbuddy.jpeg'
      title='tuBookBuddy.es'
      firstParagraph='TuBookBuddy es una plataforma web diseñada para amantes de la lectura, donde los usuarios pueden descubrir, organizar y compartir libros de manera sencilla. Desarrollada con Next.js y estilizada con TailwindCSS, la aplicación ofrece una experiencia rápida y fluida.'
      secondParagraph='Cuenta con autenticación mediante Firebase Authentication y almacenamiento en Firestore, permitiendo a los usuarios crear listas personalizadas de libros leídos o pendientes, agregar amigos y explorar recomendaciones.'
      thirdParagraph='La gestión del estado se maneja con React Context API, asegurando una navegación eficiente. Además, integra la API de libros de Google, proporcionando información detallada sobre miles de títulos, incluyendo sinopsis, autores, portadas y ediciones. TuBookBuddy es un proyecto pensado para facilitar la exploración y el seguimiento de lecturas, combinando funcionalidad y diseño moderno para ofrecer una experiencia intuitiva y atractiva.'
      screenshot='/profile.jpg'
    />
  </div>

-->
