---
const {
  title,
  firstParagraph,
  secondParagraph,
  thirdParagraph,
  image,
  screenshot,
} = Astro.props;
---

<aside class='w-full xl:w-3/12'>
  <img src={image} alt={title} />
  <h3 class='mt-4 font-bold text-xl'>{title}</h3>
  <div class='bg-white rounded py-1 px-4 mt-3'>
    <p>{firstParagraph}</p>
    <p>{secondParagraph}</p>
    <p>{thirdParagraph}</p>
  </div>
</aside>
<div class='hidden w-9/12 lg:grid lg:grid-cols-3 lg:grid-rows-2 lg:gap-4'>
  <div class='col-span-2'><img src={screenshot} alt={title} /></div>
  <div class='col-start-3'><img src={screenshot} alt={title} /></div>
  <div class='col-span-2 col-start-2 row-start-2'>
    <img src={screenshot} alt={title} />
  </div>
  <div class='col-start-1 row-start-2'>
    <img src={screenshot} alt={title} />
  </div>
</div>

<style>
  aside img {
    max-height: 250px;
  }
  img {
    border-radius: 4px;
  }
  p {
    margin-block: 1rem;
  }
</style>
